html {
    font-size: 16px;
}
body {
    
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
* {box-sizing: border-box;
}
.flex-container {
    display: flex;
    height: 20rem;
    width: 20rem;
    position: relative;
    left: 20%;
    top: 5rem;
    bottom: 5rem;
    justify-content: center;
}
.form-group {
    display: flex-box;
    position: relative;
    top: -2rem;
    left: 12rem;
    width: 100%;
    border: 1px;
}
.first-column {
    display: flex-box;
    
    top: 0;
    left: 0;
    width: 25%;  

}
.second-column {
    display: flex-box;
    
    top: 0;
    left: 0;
    width: 25%;
}
.third-column {
    display: flex-box;
    
    top: 0;
    left: 0;
    width: 25%;
    }
.fourth-column {
    display: flex-box;
    
  
    top: 0;
    left: 0;
    width: 25%;
    
}

.btnEqual {
    
    align-items: stretch;
    width: 3rem;
    height: 49%;
    border: 1px solid rgb(0, 0, 0);;
    margin: 5px;
}
.btnNumber {
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);

}
.btnPlus{
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}
.btnMinus {
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}
.btnPoint {
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}
.btnMulti {
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}
.btnClear{
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}
.btnDivide {
    margin: 5px;
    height: 2rem;
    width: 3rem;
    border: 1px solid rgb(0, 0, 0);
}



